
@{
    ViewBag.Title = "Index2";
}

<div classs="row">
    <img class="img-responsive" src="../Content/Images/janusz.png" />
</div>
<hr />
<h1>Polecamy</h1>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="newFlag"></div>
        <div class="thumbnail">

            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="newFlag"></div>
        <div class="thumbnail">
            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="newFlag"></div>
            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="bestsellerFlag"></div>
            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="bestsellerFlag"></div>
            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="bestsellerFlag"></div>
            <img src="../Content/Images/test.jpg" />
            <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4>
                    <a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

        </div>
    </div>

</div>