
@{
    ViewBag.Title = "Potwierdzenie zamówienia";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<h4>Potwierdzenie zamówienia</h4>
<p>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit </p>

